
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-eye-off:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
